{% assign posts = include.content %}


{%- if posts.size > 0 -%}
  <ul style="list-style: '&mdash  '">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        
        <span>
          <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </span>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
{%- endif -%}
