blockquote {
  font-style: normal;
  @include relative-font-size(0.95);
  letter-spacing: 0px;
  
//   i, em {
//     font-style: italic;
//   }
}

table td {
  white-space: nowrap;
}

.overflow-wrapper {
  overflow-x: auto;
}

details {
  margin-bottom: $spacing-unit / 2;
}


.post-content {
  h4 {
    @include relative-font-size(1.25);
  }

  h5 {
    @include relative-font-size(1.125);
  }
  
  h6 {
    @include relative-font-size(1.0625);
  }
}

.post-content h2, h3{
  margin-top: $spacing-unit;
}

.post-list h3 {
  margin-top: 0;
}


/**
 * Images
 */
 img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

