/**
 * Blockquotes
 */
blockquote {
  font-style: normal;
  @include relative-font-size(0.95);
  
//   i, em {
//     font-style: italic;
//   }
}

table td {
  white-space: nowrap;
}

.overflow-wrapper {
  overflow-x: auto;
}

details {
  margin-bottom: $spacing-unit / 2;
}
