/**
 * Initialisation of variables
 */

$content-width:    800px !default;
$spacing-unit:     25px !default;
$on-large:        800px !default;

$base-font-size:   20px !default;
$base-line-height: 1.5 !default;
$base-font-weight: 400 !default;

@mixin relative-font-size($ratio) {
  font-size: #{$ratio}rem;
}


/**
 * Basic font size
 */

html {
  font-size: $base-font-size;
}

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} "Times New Roman";
//   font-size: $base-font-size;
}



/**
 * Size of the post-title
 */

// post-title h1's font is not by default fixed, so give it the common "default" value
.post-title,
.post-content h1 {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1.15;

  @media screen and (min-width: $on-large) {
    @include relative-font-size(2.625);
  }
}



/**
 * Wrapper
 */

.wrapper {  
  max-width: calc(#{$content-width} - (#{$spacing-unit}));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  @extend %clearfix;

  @media screen and (min-width: $on-large) {
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
}



/**
 * Alignment
 */

.wrapper {
  text-align: justify;
  //   overflow-wrap: break-word;
}

.page-content{
  text-align: justify;
}

.post-content{
  text-align: justify;
}



/**
 * Clearfix
 */

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Tables
 */

th, td {
  padding-right: $spacing-unit; // or possibly $spacing-unit / 2
}

/**
  * Set `margin-bottom` to maintain vertical rhythm
  */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
details,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/**
 * Blockquotes
 */

blockquote {
  // color: $brand-color;
  background: rgba(127, 127, 127, 0.1);
  border-left: 4px solid rgba(0, 122, 204, 0.5);
  padding-left: $spacing-unit / 2;
//   @include relative-font-size(1.125);
  font-style: italic;

//   > :last-child {
//     margin-bottom: 0;
//   }

//   i, em {
//     font-style: normal;
//   }
}

/**
 * Images
 */
 img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $base-font-size * 0.875;
}
