---
# Only the main Sass file needs front matter (the dashes are enough)
---

// This is required by Minima
// @import "minima";

// This is the file with customised styles
@import "minima/custom-styles.scss";



/**
 * Initialisation of variables
 */

$content-width:    800px !default;
$spacing-unit:     30px !default;
$on-large:        800px !default;

@mixin relative-font-size($ratio) {
  font-size: #{$ratio}rem;
}



/**
 * Size of the post-title
 */

.post-title,
.post-content h1 {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1.15;

  @media screen and (min-width: $on-large) {
    @include relative-font-size(2.625);
  }
}



/**
 * Wrapper
 */

.wrapper {
  max-width: calc(#{$content-width} - (#{$spacing-unit}));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  @extend %clearfix;

  @media screen and (min-width: $on-large) {
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
}



/**
 * Clearfix
 */

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}
