---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
    
     <!--This filters out the posts within the given category associated with the page.-->
    {% if site.paginate %}
      {% assign posts = paginator.posts | where:"categories", categories contains page.page_category %}
    {% else %}
      {% assign posts = site.posts | where:"categories", categories contains page.page_category %}
    {% endif %}
    
    {% include page_by_category.html content={{ posts }} %}
    <!--This part is personalised for each page.-->
  </div>

</article>
